.background-profile{
    background-color: var(--bg-grey-color);
    min-height: 170px;
    position: relative;
    margin-bottom: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (max-width: 768px) {
    .background-profile{
        min-height: 130px;
        margin-bottom: 50px;
    }
}
.background-profile .head{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background-profile .head a{
    color: #fff;
    font-size: 1.6rem;
    background-color: #00000090;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    display: grid;
    place-items: center;
}

.background-profile .head .search-and-share > button{
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    border-radius: 50%;
    background: #00000090;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 768px) {
    .background-profile .head .search-and-share > button,
    .background-profile .head a{
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
    }
}
.background-profile .profile-img {
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.background-profile .profile-img img{
    width: 110px;
    height: 110px;
    border: 4px solid #000000;
    cursor: pointer;
    object-fit: cover;
    background-color: #ffffff;
    border-radius: 50%;
}
body.theme .background-profile .profile-img img{
    border-color: #ffffff;
}

@media (max-width: 768px) {
    .background-profile .profile-img {
        left: 10px;
        bottom: -40px;
    }
    .background-profile .profile-img img{
        width: 80px;
        height: 80px;
        border-width: 3px;
    }
}
/* background Profile End */
/* profile-info Start */
.profile-info{
    position: relative;
    padding: 0px 20px 20px 28px;
}
@media (max-width: 768px) {
    .profile-info{
        padding: 0px 15px 20px;
    }
}
.profile-info .setUpProfile{
    position: absolute;
    top: -45px;
    right: 10px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid var(--blue-color);
    padding: 3px 10px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
}
@media (max-width: 768px) {
.profile-info .setUpProfile{
    top: -35px;
    font-size: 14px;
}

}

body.theme .profile-info .setUpProfile{
    color: #000000;
}
.profile-info article .title #name{
    margin: 0;
    font-weight: bold;
    display: inline-flex;
    color: #ffffff;
}
body.theme .profile-info article .title #name{
    color: #000000;
}
@media (max-width: 768px) {
.profile-info article .title #name{
    font-size: 18px;
}

}

.profile-info article .get-verified{
    color: #fff;
    font-size: 14px;
    padding: 2px 12px;
    border: 1px solid rgba(255, 255, 255, 0.878);
    margin-left: 2px;
    border-radius:30px;
    cursor: pointer;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
body.theme .profile-info article .get-verified{
    color: #000000;
    border-color: rgba(0, 0, 0, 0.878)
}


.profile-info article .title #username{
    margin: 0;
    color: #ffffff;
    font-weight: 600;
}
body.theme .profile-info article .title #username{
    color: #000000;
}
.profile-info .date{
    display: flex;
    gap: 20px;
    color: #fff;
    margin-top: 25px;
}
body.theme .profile-info .date{
    color: #000000;
}
@media (max-width: 768px) {
.profile-info .date{
    font-size: 14px;
}
}

.profile-info .date > div{
    gap: 10px;
    display: flex;
}

.profile-info .stats{
    display: inline-flex;
    color: #ffffff;
    gap: 20px;
    margin-top: 6px;
}
body.theme .profile-info .stats{
    color: #000000;
}
@media (max-width: 768px) {
.profile-info .stats{
    font-size: 14px;
}

}

/* profile-info End */