:root{
    --main-color:#f0ecf0;
    --black-color:#000000;
    --secondary-color: #ffffff;
    --blue-color: #0000cc;
    --grey-color:#6b7280;
    --bg-grey-color: #387ff5;
    --grey-color-hover: #3881f51a;
    
    --red-hover-color:#ef44441a;
    --red-color:#ef4444;

    --green-color:#22c55e;
    --green-color-hover:#22c55e1a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    overflow-x: hidden;
    transition:400ms;
    -webkit-transition:400ms;
    -moz-transition:400ms;
    -ms-transition:400ms;
    -o-transition:400ms;
}
body.theme{
    background-color: #fff !important;
}
body.none-scroll{
    overflow: hidden;
}
/* loader for comments when user clicks Start*/
.loader {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 1.3s infinite linear;
  -webkit-animation: l5-0 1.3s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}
/* loader for comments when user clicks End*/
/* loading for the whole page */
.loading-test{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.theme .loading-test{
    background-color: #fff;
}

.loading-test.active{
    display: none;
}

    .user-actions::-webkit-scrollbar{
        display: none;
    }
::selection{
    background-color: var(--bg-grey-color);
    color: #000000;
}

.modal-content .delete-icon{
    background: #fff;
    width: 45px;
    display: grid;
    height: 45px;
    place-items: center;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
body.theme .modal-content .delete-icon{
    background-color: #000;
}
.modal-content textarea{
    width: 100%;
    border-radius: 0.3rem;
    height: 120px;
    padding: 10px;
    resize: none;
    background: #ffffff2e;
    color: #ffffff;
    border: 2px solid #fff;
    font-style: italic;

}
body.theme .modal-content textarea{
    border-color: #000000;
}
 .modal-content textarea::placeholder{
    color: #fff;
}

.modal-content .modal-header button{
    color: #ffffff;
    background: transparent;
    font-size: 20px;
    margin-left: auto;
    padding: 0px 3px;
    border: 1px solid #fff;
    border-radius: 4px;
}
body.theme .modal-content .modal-header button{
    border-color: #000;
}
.modal-content .modal-header button i{
    color: #fff;
}
body.theme  .modal-content .modal-header button i {
    color: #000;
}
#create-post-modal .modal-body input{
    background: #ffffff2e;
    color: #ffffff;
    border: 2px solid #fff;
    font-style: italic;
}
body.theme #create-post-modal .modal-body input{
    border-color: #000;
}
#create-post-modal .modal-body input::placeholder{
    color: #fff;
    font-style: italic;
}



.labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    border: 2px dashed #fff;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -ms-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
}
body.theme .labelFile{
    border: 2px dashed #000;
}
.labelFile.onDrop{
    border-width: 4px;
    font-size: 1.1rem;
    border-color: var(--bg-grey-color);
    transform: scale(1.03);
    color: var(--bg-grey-color);
}
.input-file {
  display: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    backdrop-filter: blur(27px);
    background-clip: padding-box;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: 0;
    background-color: #0000001f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
body.theme .modal-content{
    border-color: #000;
}
.modal-content .modal-footer,
.modal-content .modal-header{
    border-color: inherit;
}
#profileImage{
    --webkit-appearance:none;
    appearance: none;
    display: none;
}


/* start offcanvas */
.user-actions{
    background-color: #000000;
    width: calc(100% - 35px) !important;
    max-width: 500px !important;
    overflow-y: scroll;
}
body.theme .user-actions{
    background-color: #fff;
}
.user-actions .offcanvas-header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #222;
    backdrop-filter: blur(14px);
}
body.theme .user-actions .offcanvas-header{
    border-bottom-color: #ddd;
}

.user-actions .user-info{
    color: #fff;
}
body.theme .user-actions .user-info{
    color: #000;
}
.user-actions .user-info img{
    background-color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user-actions  .user-info span{
    display: block;
}
.user-actions  .user-info #name{
    font-size: 1.2rem;
    font-weight: bold;
}

.user-actions  .user-info .postAndComment-count{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.user-actions .status{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.user-actions .btn-close{
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
body.theme .user-actions .btn-close{
    border-color: #000;
    color: #000;
}
.user-actions ul{
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 0;
}
body.theme .user-actions ul{
    color: #000;
}
.user-actions ul li{
    padding: 5px .3rem;
    display: flex;
    gap: 15px;
    width: calc(100% - 20px);
    margin: auto;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 300ms ease-in;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    -ms-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
}
.user-actions ul li:hover{
    background-color: #fff;
    font-weight: 700 ;
    border-radius: 10px;
    color: #000;
    letter-spacing: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
body.theme .user-actions ul li:hover{
    background-color: #000;
    color: #fff;
}
.user-actions ul li:hover i{
    margin-right: 8px;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}
.user-actions .dark-mode{
    background-color: #00000042;
    padding: 1rem;
    color: #000000;
    backdrop-filter: blur(3px);
    position: sticky;
    bottom: 0;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: end;
}
body.theme .user-actions .dark-mode{
    background-color: #ffffff42;
    color: #ffffff;
}
.user-actions .dark-mode i{
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}
body.theme .user-actions .dark-mode i{
    background: #000000;
}
.user-actions ul li a{
    text-decoration: none;
    color: inherit;
    width: 100%;
}

/* End offcanvas */

/* Start Make Component */
.btn-group{
    margin-left: auto;
}
.btn-group button{
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #0d6efd3d;
    border: none;
}
.btn-group button:focus{
background-color: unset;
}

.dropdown-toggle::after{
    display: none;
}
.btn-group .dropdown-menu{
    padding: 3px;
}
body.theme .btn-group .dropdown-menu{
    background-color: #18181B;
}

 .btn-group .dropdown-menu .dropdown-item{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

 .btn-group .dropdown-menu .dropdown-item.delete-option{
    color: var(--red-color) !important;
 }
 .btn-group .dropdown-menu .dropdown-item.delete-option:focus,
 .btn-group .dropdown-menu .dropdown-item.delete-option:hover{
    background-color: var(--red-color) !important;
    color: #ffffff !important;
 }
 

body.theme .btn-group .dropdown-menu .dropdown-item{
    color: #fff;
    
}
.btn-group .dropdown-menu .dropdown-item i {
    margin-right: 10px;
    color:inherit ;
}


  .btn-group .dropdown-menu .dropdown-item:hover{
    background-color: #dedede;
  }
 body.theme .btn-group .dropdown-menu .dropdown-item:hover{
    background-color: rgba(236, 237, 238, 50%);
    color: #ffffff;
}
 .btn-group .dropdown-menu .dropdown-item:focus{
    background-color: rgba(56, 129, 245, 50%);
    color: #ffffff;
    outline: 0;
}

/* show post img Start */
.show-post-img{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-post-img .close_btn{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2.5rem;
    color: #ffffff;
    cursor: pointer;
}
body.theme .show-post-img .close_btn{
    color: #000000;
}
@media (max-width: 576px){
    .show-post-img .close_btn{
        font-size: 2rem;
    }
}
.show-post-img img{
    max-width: 95%;
    max-height: 95%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* show post img End */
/* button upgrade Start*/
.cta {
    margin-right: 5px;
    position: relative;
    padding: 7px 15px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-weight: 700;
  color: #234567;
}
@media(max-width: 576px) {
  .cta span {
    font-size: 0.8rem;
  }
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 4px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* button upgrade End*/
#go-back{
    padding: 10px 20px;
    background-color: var(--bg-grey-color);
    color: #fff;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: fixed;
    top: -100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 9;
    border-radius: 30px;
    transition: 800ms ease-in-out;
}
    #go-back .arrow-up{
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    }
    #load-more{
    height: 100px;
    opacity: 0;
    position: relative;
    bottom: 85px;
    z-index: -10;
    pointer-events: none;
    width: 100%;
    }

    #go-back.showBtn{
    top: 15px !important;
    }
    #go-back .arrow-up i{
    font-size: 25px;
    color: var(--bg-grey-color);
    }

    /* tags btn Start */
    .tags{
        display:inline-flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    .tags button{
    font-size: .8rem;
    background-color: transparent !important;
    border-color: #111 !important;
    }
    .tags button .hash{
        color: var(--blue-color);
    }
    .tags button:focus,
    .tags button:hover{
        background-color: transparent ;
    }
    /* tags btn End */
    .new-post{
        cursor: pointer;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        width: 55px;
        height: 55px;
        box-shadow: 0 4px 8px #0000008f;
        background-color: var(--bg-grey-color);
        color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    body.theme .new-post{
        box-shadow: 0 4px 8px #c1c1c1c0;
    }
    .new-post i{
        font-size: 1.8rem;
    }

@media (max-width: 992px) {
    .container{
        max-width: 100% !important;
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .col-9{
        width: 100%;
        padding: 0;
    }
}
#success-alert{
    position: fixed;
    z-index: 1060;
    right: 3%;
    top: 30%;
    width: 90%;
    max-width: 600px;
}
#success-alert:not(.show){
    pointer-events: none;
}

@media (max-width:767px){
    #success-alert{
        font-size: 1rem;
    }
}

/* End Make Component */
.navbar{
    background: rgba(0, 0, 31, 0.6);
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body.theme .navbar{
    background: rgba(227, 238, 255, 0.6);
}
.navbar i {
    cursor: pointer;
    margin-left: 10px;
    color: #eee;
    border: 2px solid #eee;
    width: 31px;
    height: 31px;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
body.theme .navbar i {
    color: #000;
    border-color: #000;
}
.navbar  img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 576px){
    .navbar img{
        width:45px;
        height:45px;
    }
}

.hidden{
    display: none !important;
}

.navbar-toggler{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: 0 0 0px 3px var(--main-color);
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}
.navbar .navbar-toggler i {
    font-size: 30px;
    color: var(--main-color);
}

/* End Navbar */
.post-box{
    gap: 8px;
    padding-block: 20px !important;
}
.post-box:not(:last-child){
    border-bottom: 1px solid #1f1f1f;
}
body.theme .post-box:not(:last-child){
    border-color: #ddd;
}

.post-box:first-child{
    border-top: 1px solid #1f1f1f;
}
body.theme .post-box:first-child{
    border-color: #ddd;
}

.post-box .user-image img{
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
}


@media (max-width: 576px){
    .post-box .user-image img{
        width: 40px;
        height:40px;
        margin-left: 0px;
    }
}

.post{
    margin-top: 5rem !important;
}
/* card Info Start */
.post .card{
    background-color: transparent;
    color: #dfdfdf;
    border: 0;
    box-shadow: none;
}
body.theme .post .card{
    color: #000;
}
.post .user-info{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
@media(max-width:576px){
    .post .user-info{
        gap: 5px;
    }
    
}
.post .user-info .info-text{
    max-width: 90px; /* العرض الأقصى للنص */
    white-space: nowrap; /* منع النص من الانتقال إلى سطر جديد */
    overflow: hidden; /* إخفاء النص الزائد */
    text-overflow: ellipsis;  /* add 3 dots */
}
.post .user-info .user-name{
    max-width: 200px;
}
@media (max-width: 576px){
    .post .user-info .user-name{
        max-width: 85px; /* العرض الأقصى للنص */
    }
}
.post .user-info i{
    color: var(--bg-grey-color);
}
.post .user-info .user-sittings{
    margin-left: auto;
}

.post .user-info .user-sittings i{
    color: #c3c3c3;
    cursor: pointer;
    font-size: 1.3rem;
}
body.theme .post .user-info .user-sittings i{
    color: #444;
}

@media (max-width: 576px){
    .post .user-info .user-sittings i{
        font-size: 1rem;
    }
}
.post .user-info .username{
    font-size: 13px;
    max-width: 100px; /* العرض الأقصى للنص */
    color: #c3c3c3;
}
body.theme .post .user-info .username{
    color: #444;
}

@media (max-width: 576px){
    .post .user-info .username{
        max-width: 40px; /* العرض الأقصى للنص */
    }
}
.post .user-info .post-history{
    font-size: 12px;
    color: #c3c3c3;
}
body.theme .post .user-info .post-history{
    color: #444;
}
/* card Info End */
.post .card-body {
    padding: 0 1rem !important;
    width: 95%;
}


 .post .card-body .title{
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.3;
}
    
 .post .card-body p{
    font-size: .9rem;
 }

@media (min-width: 576px){
    .post .card-body .title{
        font-size: 2rem;
    }
    .post .card-body p{
        font-size: 1.3rem;
    }
    
}
.post .card-header {
    background-color: transparent !important;
    border: 0 !important;
}

.post .Reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 750px;
}
@media (max-width:576px){
    .post .Reactions{
        padding: 1rem 0.5rem;
    }
}
.post .Reactions  > div{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    color: #c3c3c3;
    padding: 5px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
body.theme .post .Reactions  > div{
    color: #444;
}
@media (max-width: 576px){
.post .Reactions  > div{
    font-size: .8rem;
}
}



.post .Reactions  > div:nth-of-type(1) .active-child,
.post .Reactions  > div:nth-of-type(4) .active-child{
    color: var(--bg-grey-color);
}
.post .Reactions  > div:nth-of-type(2) .active-child{
    color: var(--green-color);
}
.post .Reactions  > div:nth-of-type(3) .active-child{
    color: var(--red-color);
}

.post .Reactions  > div:nth-of-type(1):hover,
.post .Reactions  > div:nth-of-type(4):hover{
    background-color: var(--grey-color-hover);
    color: var(--bg-grey-color);
}

.post .Reactions  > div:nth-of-type(2):hover{
    background-color: var(--green-color-hover);
    color: var(--green-color) ;
}
.post .Reactions  > div:nth-of-type(3):hover{
    background-color: var(--red-hover-color);
    color: var(--red-color);
}
.post .card-header img{
    cursor: pointer;
    object-fit: cover;
    min-height: 300px;
    max-height: 350px;
    max-width: 100%;
    min-width: 260px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
@media (max-width: 576px){
    .post .card-header img{
        min-width: 90%;
}
}

 .post .comments-container{
    transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -ms-transition:1s ease-in-out;
    -webkit-transition:1s ease-in-out;
    -o-transition:1s ease-in-out;
}
 .post .comments-container.open{
    padding: 10px;
    border-top: 1px solid #222;
 }
 body.theme .post .comments-container.open{
    border-top-color: #ddd;
 }
 .post .comments-container .input-container{
    display: flex;
    align-items: center;
    margin:10px auto 20px;
 }

 .post .comments-container .user-img{
    max-width: 65px;
    max-height: 65px;
    border: 2px solid transparent;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
@media (max-width: 576px){
    .post .comments-container .user-img{
        max-width: 45px;
        max-height: 45px;
    }
}
 .post .comments-container .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
    background-color: #fff;
 }
.post .comments-container .input-container .input-comment{
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--bg-grey-color);
    background: transparent;
    color: #fff;
 }
 body.theme .post .comments-container .input-container .input-comment{
    color: #000;
 }
 @media (max-width: 576px){
    .post .comments-container .input-container .input-comment{
        font-size: 0.9rem;
    }
 }
.post .comments-container .input-container .input-comment::placeholder{
    color: #fff;
}
    body.theme .post .comments-container .input-container .input-comment::placeholder{
        color: #000;
    }
    .post .comments-container .input-container .input-comment:focus{
        outline: none;
        background: rgba(255, 255, 255, 0.037);
        border-color: var(--blue-color);
    }
    body.theme .post .comments-container .input-container .input-comment:focus{
        background: rgba(0, 0, 0, 0.037);
    }
    .post .comments-container .input-container .input-comment:focus + button{
        background-color: var(--blue-color);
        color: #fff;
        border-color: var(--blue-color);
    }
    .post .comments-container .input-container:focus-within .user-img {
        border-color: var(--blue-color);
    }
 .post .comments-container .input-container .comment-btn{
    border:none;
    padding: 10px 20px;
    background: var(--bg-grey-color);
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid var(--bg-grey-color);
 }
 .post .comments-container .input-container .comment-btn:focus{
    outline: 2px solid var(--blue-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

 @media (max-width: 576px){
    .post .comments-container .input-container .comment-btn{
        padding: 10px;
        font-size: 0.9rem;
    }
 }

 .post .comments-container .comment{
    margin: auto;
    display: flex;
    color: #fff;
 }
 body.theme .post .comments-container .comment{
    color: #000;
 }
 .post .comments-container  .comment:not(:last-child){
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
 }
    body.theme .post .comments-container .comment:not(:last-child){
        border-bottom-color: #ddd;
    }
 
.post .comments-container  .no-comment{
    color: #c3c3c3;
    font-size: 1.2rem;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
 }

 body.theme .post .comments-container  .no-comment{
    color: #444;
 }